#maze {
    width: fit-content;
    margin: 60px auto 0;
}

.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin-right: -1px;
    margin-bottom: -1px;
}

.active {
    position: relative;
}

.active:after {
    content: "";
    display: block;
    z-index: 100;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

.leftBorder {
    border-left: 1px solid black;
}

.topBorder {
    border-top: 1px solid black;
}

.rightBorder {
    border-right: 1px solid black;
}

.bottomBorder {
    border-bottom: 1px solid black;
}
